<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Vuetify 3 CDN Example</title>

  <!--
  https://vuetifyjs.com/ja/components/navigation-drawers/#section-30d530ed30fc30c630a330f330b030dc30bf30f3
  -->

  <!-- Vue 3 CDN -->
  <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>

  <!-- Vuetify 3 CDN -->
  <link href="https://cdn.jsdelivr.net/npm/vuetify@3.8.1/dist/vuetify.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/vuetify@3.8.1/dist/vuetify.min.js"></script>

  <!-- Material Design Icons (任意だが推奨) -->
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font/css/materialdesignicons.min.css" rel="stylesheet">
</head>
<body>

  <div id="app">
    <v-app>
      <v-main>
        <v-container class="">
          <v-card>
            <v-layout>
              <v-navigation-drawer
                floating
                permanent
              >
                <v-list
                  density="compact"
                  nav
                >
                  <v-list-item prepend-icon="mdi-view-dashboard" title="Home" value="home"></v-list-item>
                  <v-list-item prepend-icon="mdi-forum" title="About" value="about"></v-list-item>
                </v-list>
              </v-navigation-drawer>
              <v-main style="height: 250px"></v-main>
            </v-layout>
          </v-card>
        </v-container>
      </v-main>
    </v-app>
  </div>

  <script>
    const { createApp, ref } = Vue;
    const { createVuetify } = Vuetify;

    const app = createApp({
      setup() {
        return {
        }
      }
    });

    const vuetify = createVuetify();
    app.use(vuetify);
    app.mount('#app');
  </script>

</body>
</html>
